@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject StoreRepository StoreRepository

@if ( SignInManager.IsSignedIn ( User ) )
{
    // Get all the async stuff we need because I don't know how to pass it in from a controller...
    var appUser = await UserManager.GetUserAsync ( User );
    var currency = await StoreRepository.GetCurrencyTotalForUserAsync ( appUser.Id, CurrencyType.Normal );
    var membershipLeft = ((appUser.MembershipExpirationTime ?? DateTime.UtcNow) - DateTime.UtcNow);
    var nextLoginBonus = ((appUser.LastLoginReward.HasValue ? appUser.LastLoginReward.Value.AddDays(1) : DateTime.UtcNow) - DateTime.UtcNow);

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @appUser.GamerTag
                </a>
                <ul class="dropdown-menu dropdown-wide">
                    <li class="menu-text">
                        Rank @appUser.Rank
                    </li>
                    <li class="menu-text">
                        Wallet: @currency.ToString( "F2" ) @Options.Value.MinecraftCurrencyName
                    </li>
                    <li class="menu-text">
                        Membership: @membershipLeft.TotalHours.ToString( "F2" ) hours
                    </li>
                    @if ( nextLoginBonus.TotalMilliseconds > 0 )
                    {
                        <li class="menu-text">
                            Bonus In: @nextLoginBonus.TotalHours.ToString( "F2" ) hours
                        </li>
                    }
                    else
                    {
                        <li class="menu-text">
                            Bonus Available!
                        </li>
                    }
                    <li class="divider"></li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Account</a>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link menu-text">Logout</button>
                    </li>
                </ul>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}