@model IEnumerable<MinecraftWrapper.Data.Entities.ScheduledTask>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CronString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledTaskType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Command)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CronString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledTaskType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Command)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduledTaskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduledTaskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduledTaskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
