@model HomeIndexViewModel
@using MinecraftWrapper.Services
@inject StatusService statusService

@{
    ViewData[ "Title" ] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>News</h2>
        </div>
    </div>
    <div class="row">
        @foreach ( var item in Model.NewsItems )
        {
            @if ( !string.IsNullOrEmpty ( item.HtmlContent ) )
            {
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>@item.Title</h4>
                            <hr />
                            @Html.Raw( item.HtmlContent )
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Roster</h2>
        </div>
    </div>
    <div class="row">
        @foreach ( var user in Model.Users )
        {
            var divClass = "";

            @if ( !string.IsNullOrEmpty ( user?.GamerTag ) && user.MembershipExpirationTime.HasValue && 
                user.MembershipExpirationTime >= DateTime.UtcNow && user.IsActive )
            {
                <div class="col-md-4">
                    @if ( await statusService.GetUserStatus ( user.Id ) )
                    {
                        divClass = "panel panel-success";
                    }
                    else
                    {
                        divClass = "panel panel-default";
                    }
                    <div class="@divClass">
                        <button class="super-clean panel-heading headerbutton" data-toggle="collapse" href="#@user.GamerTag">
                            <h3 class="panel-title">@user.GamerTag</h3>
                        </button>
                        <div id="@user.GamerTag" class="panel-body collapse">
                            @user.Bio
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
