@model MinecraftWrapper.Models.GiftCurrencyViewModel

@{
    ViewData["Title"] = "GiftCurrency";
}

<h2>Send Gift</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">Actions</h5>
    </div>
    <div class="panel-body">
        <b>Available @Options.Value.MinecraftCurrencyName to sent:</b> @Model.GiftCurrency
        <div id="userList" style="height:400px;overflow:auto;">
            <b>Search: </b><input type="text" placeholder="search" class="search" />
            <table class="table" id="users">
                <thead>
                    <tr>
                        <th>
                            GamerTag
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="list">
                    @foreach ( var user in Model.Users.OrderBy ( u => u.GamerTag ) )
                    {
                        <tr>
                            <td class="gamertag">
                                @Html.DisplayFor( u => user.GamerTag )
                            </td>
                            <td class="nothing">
                                <a asp-action="SendGift" asp-route-id="@user.GamerTag">Send @Options.Value.MinecraftCurrencyName</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr />

<div style="height:400px;overflow:auto;">
    <table class="table" id="transactions">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Notes
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var transaction in Model.Transactions.OrderByDescending ( t => t.TransactionDate ) )
            {
                <tr>
                    <td>
                        @transaction.TransactionDate
                    </td>
                    <td>
                        @transaction.Amount
                    </td>
                    <td>
                        @transaction.Notes
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        var options = {
            valueNames: ['gamertag','nothing']
        };

        // Init list
        var contactList = new List('userList', options);
    </script>
}
