@model ManageUsersViewModel

@{
    ViewData["Title"] = "ManageUsers";
}

<h2>ManageUsers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Gamertag
            </th>
            <th>
                Discord Handle
            </th>
            <th>
                Current Money
            </th>
            <th>
                Hours Left
            </th>
            <th>
                Rank
            </th>
            <th style="min-width:140px"></th>
            <th style="min-width:140px"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users ) {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GamerTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscordId)
        </td>
        <td>
            @Html.DisplayFor( modelItem => item.CurrentMoney )
        </td>
        <td>
            @item.MembershipLeft.TotalHours.ToString("F2")
        </td>
        <td>
            @Html.DisplayFor( modelItem => item.Rank )
        </td>
        <td>
            Active: @item.IsActive <br />
            Moderator: @item.IsModerator <br />
            Admin: @item.IsAdmin <br />
        </td>
        <td>
            <a asp-action="ToggleUserActiveState" asp-route-id="@item.UserId">Toggle Active</a><br />
            <a asp-action="ToggleModerator" asp-route-id="@item.UserId">Toggle Moderator</a><br />
            <a asp-action="ToggleAdmin" asp-route-id="@item.UserId">Toggle Admin</a><br />
        </td>
    </tr>
}
    </tbody>
</table>
