@model ManageUsersViewModel

@{
    ViewData["Title"] = "ManageUsers";
}

<h2>ManageUsers</h2>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                Gamertag
            </th>
            <th>
                Discord Handle
            </th>
            <th>
                Current Money
            </th>
            <th>
                Hours Left
            </th>
            <th>
                Rank
            </th>
            @*<th style="min-width:140px"></th>*@
            <th style="min-width:140px"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Users ) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GamerTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscordId)
        </td>
        <td>
            @Html.DisplayFor( modelItem => item.CurrentMoney )
        </td>
        <td>
            @item.MembershipLeft.TotalHours.ToString("F2")
        </td>
        <td>
            @Html.DisplayFor( modelItem => item.Rank )
        </td>
        <td>
            <a asp-action="ManageUserDetails" asp-controller="Users" asp-route-id="@item.UserId">Details</a><br />
        </td>
    </tr>
}
    </tbody>
</table>
